[Database1]
host ='mysql.test.hzzh.xyz'
username ='cms'
password ='Cms123'
db_name ='iotplatform_mot'

[Database2]
database=db_test
host=test.sqlserver.rds.alincs.com,3433
user=qhlt_just
pwd=zHi4M63wIddlSDK2nY<br><br>

[Database3]
host ='mysql.test.hzzh.xyz'
username ='lzc'
password ='lzc123456'
db_name ='openapi3.2'
